fastapi
uvicorn
python-multipart
pydantic
dashscope
yt-dlp
requests
python-dotenv
torch==2.9.1
torchaudio==2.9.1
librosa
soundfile
opencc
jieba_fast
onnxruntime
fast-langdetect
transformers
nltk
scipy
numpy==1.26.4
pyopenjtalk-prebuilt
pypinyin
cn2an
langid
split-lang
numpy
