fastapi
uvicorn
python-multipart
pydantic
dashscope
yt-dlp
requests
python-dotenv
torch==2.9.1
torchaudio==2.9.1
librosa
soundfile
opencc
jieba
onnxruntime
fast-langdetect
transformers
nltk
scipy
numpy==1.26.4
pyopenjtalk-prebuilt
pypinyin
cn2an
langid
split-lang
pywebview
pythonnet
clr_loader
psutil==7.1.3
gradio==6.1.0
x_transformers==2.11.24
pytorch_lightning==2.6.0
matplotlib==3.10.0
peft==0.18.0
wordsegment==1.3.1
g2p_en==2.1.0
